@use "../../../styles/variables" as *;

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
  display: flex;
  gap: 1.5rem;
  position: relative;
  padding: 0 2rem 2rem;
}

.content {
  flex: 0 0 calc(70% - 1rem);
  display: flex;
  flex-direction: column;
}

.preview {
  flex: 0 0 calc(30% - 1rem);
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 0;
  height: fit-content;
}

.form {
  background: $white;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow:
    0 25px 60px rgba(17, 32, 63, 0.08),
    0 -5px 20px rgba(17, 32, 63, 0.03);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-weight: 500;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1.25rem;
}

.divider {
  height: 1px;
  background: $border-light;
  margin: 1rem 0;
}
