@use "../../../styles/variables" as *;

.spinner {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-top-color: white;
  animation: spin 0.8s linear infinite;
}

.accent {
  border: 2px solid rgba($accent, 0.25);
  border-top-color: $accent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
