@use "../../../../src/styles/variables.scss" as *;

.mobileOverlay {
  display: none;
}

@media (max-width: $breakpoint-desktop) {
  .mobileOverlay {
    display: block;
    position: fixed;
    inset: 0;
    top: 72px;
    background: rgba(0, 0, 0, 0.35);
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 190;
  }
}
