@use "../../../styles/variables.scss" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-tablet) {
    padding: 1rem;
  }
}
