@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family: var(--font-inter);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
  font-weight: 700;
}

input,
textarea,
select,
button {
  font: inherit;
}

input::placeholder,
textarea::placeholder {
  font: inherit;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 230px;
  min-height: 100vh;
}

.main-content__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media (max-width: $breakpoint-tablet) {
  .main-content {
    margin-left: 0;
    padding-top: 72px;
  }

  .main-content__inner {
    padding: 0 1rem;
  }
}

@media (max-width: $breakpoint-desktop) {
  .main-content {
    margin-left: 0;
    padding-top: 72px;
  }
}
