@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    sans-serif;
  font-weight: 700;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 260px;
  min-height: 100vh;
}

@media (max-width: $breakpoint-tablet) {
  .main-content {
    margin-left: 0;
    padding-top: 72px;
  }
}

@media (max-width: $breakpoint-desktop) {
  body.create-flow {
    .main-content {
      margin-left: 0;
      padding-top: 72px;
    }
  }
}
