// Colors
$primary: #3b82f6;
$primary-dark: #2563eb;
$primary-darker: #1d4ed8;

$secondary: #f1f5f9;
$secondary-dark: #e2e8f0;

$text: #475569;
$text-dark: #334155;

$white: #ffffff;

// Sizes
$border-radius: 0.5rem;
$transition: 0.2s ease-in-out;

// Shadows
$shadow-sm: 0 2px 6px rgba($primary, 0.2);
$shadow-md: 0 4px 12px rgba($primary, 0.3);
$shadow-focus: 0 0 0 2px rgba($primary, 0.5);
