@use "../../styles/variables" as *;

.previewWrapper {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 210/297;
}

.previewArea {
  background: $bg-tertiary;
  width: 100%;
  height: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
