@use "../../../styles/variables" as *;

.footer {
  padding: 1rem 2rem 1rem 2rem;

  @media (max-width: $breakpoint-tablet) {
    padding: 1rem;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  button {
    min-width: 120px;
  }
}
