@use "../../../styles/variables" as *;

.sidebar {
  width: 200px;
  height: 100vh;
  background: #1e293b;
  color: $white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.logo {
  padding: 1.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav {
  flex: 1;
  padding: 1rem 0;
}

.navItem {
  display: block;
  padding: 0.75rem 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  transition: all $transition;
  position: relative;

  &:hover {
    color: $white;
    background: rgba(255, 255, 255, 0.05);
  }

  &.active {
    color: $white;
    background: rgba(59, 130, 246, 0.1);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background: $primary;
    }
  }
}

.account {
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}
