@use "../../../src/styles/variables.scss" as *;

.sidebar {
  width: 230px;
  height: 100vh;
  background: $sidebar-bg;
  color: $white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  svg {
    width: 100px;
    height: auto;
  }
}

@media (max-width: $breakpoint-tablet) {
  .sidebar {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    flex-direction: row;
    align-items: center;
  }

  .header {
    border-bottom: 0;
    padding: 1rem;

    svg {
      width: 80px;
    }
  }
}

@media (max-width: $breakpoint-desktop) {
  :global(body.create-flow) {
    .sidebar {
      width: 100%;
      height: 72px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
      flex-direction: row;
      align-items: center;
    }
  }
}
