@use "../../styles/variables" as *;

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
}

.placeholderCard {
  background: $white;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow:
    0 25px 60px rgba(17, 32, 63, 0.08),
    0 -5px 20px rgba(17, 32, 63, 0.03);
  color: $text;
}
